{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Contact Us</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi aliquam mollitia esse unde explicabo optio, nihil alias odio obcaecati earum hic quam expedita iste illum rerum modi consectetur, quod asperiores suscipit amet blanditiis ea numquam. Blanditiis enim atque maiores illum voluptate hic exercitationem laudantium numquam reprehenderit distinction accusantium, est laboriosam?</p>
    </div>
    
{% endblock content %}
