{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <h1>Features</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos quidem veritatis, consectetur fuga est blanditiis a, voluptatibus repellat adipisci facilis tenetur, quisquam possimus doloremque assumenda cumque nam similique provident facere iste delectus fugiat nisi. Hic, necessitatibus reprehenderit unde quia, cum commodi sit aliquam molestiae, voluptatum ducimus vitae repellendus quas.</p>
    </div>
{% endblock content %}
